/*
z-index, defines the element overlap, the higher value will always be above;
it only works with elements which the position has been defined;
*/
.blue {
	z-index: 3;
	background-color: #8EC4D0;
	margin-bottom: 15px;
	width: 120px;
	height: 120px;
	color: #FFF;
	position: relative;
}

.red {
	z-index: 2;
	background-color: #FF4D4D;
	position: relative;
	width: 120px;
	height: 120px;
	color: #FFF;
	margin-top: -50px;
	margin-left: 50px;
}