/*
list-style-type, will change the style of lists;
using "lower-alpha" it will have lowcase alphabetical letters instead of numbers;
"circle" will have empty cicles instead of full circles;
"square" will have full squares instead of full circles;
*/
ol.lower-alpha {
	list-style-type: lower-alpha;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

/*
list-style-image will use a image as a item list marker;
list-style-position will determine if the image is inside or outside the marker;
*/
ul.inside {
	list-style-image: url(https://logospng.org/download/google-chrome/logo-google-chrome-256.png);
	list-style-position: inside;
}

/*
list-style does the same as the other style options;
*/
ul.onLine {
	/*			type	positon	image*/
	list-style: square outside none;
}